<section class="collection" id="our-collection">
  <div class="container section-collection">
    <div class="background-image-collection"></div>
    <h2 class="our-collection">Our collection</h2>
    <ul class="list-vyshyvanka">
      <li class="list-item-collection">
        <div class="img-item">
          <img
            class="img-collection"
            srcset="
              ./img/collection/image-63-1280.jpg      347w,
              ./img/collection/image-63-1280-2x.jpg   748w,
              ./img/collection/image-63-tab.jpg       342w,
              ./img/collection/image-63-tab-2x.jpg    684w,
              ./img/collection/image-63-mobile.jpg    335w,
              ./img/collection/image-63-mobile-2x.jpg 670w
            "
            sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
            src="./img/collection/image-63-mobile.jpg"
            alt=""
          />
        </div>
        <h3 class="text-model-vyshyvanka">AUGUST Poltava women's blouse</h3>
        <p class="price-vyshyvanka">3300 UAH</p>
      </li>
      <li class="list-item-collection">
        <div class="img-item">
          <img
            class="img-collection"
            srcset="
              ./img/collection/image-64-1280.jpg      347w,
              ./img/collection/image-64-1280-2x.jpg   748w,
              ./img/collection/image-64-tab.jpg       342w,
              ./img/collection/image-64-tab-2x.jpg    684w,
              ./img/collection/image-64-mobile.jpg    335w,
              ./img/collection/image-64-mobile-2x.jpg 670w
            "
            sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
            src="./img/collection/image-64-mobile.jpg"
            alt="AUGUST Poltava women's blouse"
          />
        </div>
        <h3 class="text-model-vyshyvanka">Women's blouse Gorgany</h3>
        <p class="price-vyshyvanka">3350 UAH</p>
      </li>
      <li class="list-item-collectiona">
        <div class="img-item">
          <img
            class="img-collection"
            srcset="
              ./img/collection/image-65-1280.jpg      347w,
              ./img/collection/image-65-1280-2x.jpg   748w,
              ./img/collection/image-65-tab.jpg       342w,
              ./img/collection/image-65-tab-2x.jpg    684w,
              ./img/collection/image-65-mobile.jpg    335w,
              ./img/collection/image-65-mobile-2x.jpg 670w
            "
            sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
            src="./img/collection/image-65-mobile.jpg"
            alt="Women's blouse Gorgany"
          />
        </div>
        <h3 class="text-model-vyshyvanka">Women's blouse Crimea</h3>
        <p class="price-vyshyvanka">4000 UAH</p>
      </li>
      <li class="list-item-collection">
        <div class="img-item">
          <img
            class="img-collection"
            srcset="
              ./img/collection/image-66-1280.jpg      347w,
              ./img/collection/image-66-1280-2x.jpg   748w,
              ./img/collection/image-66-tab.jpg       342w,
              ./img/collection/image-66-tab-2x.jpg    684w,
              ./img/collection/image-66-mobile.jpg    335w,
              ./img/collection/image-66-mobile-2x.jpg 670w
            "
            sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 320px) 335px"
            src="./img/collection/image-68-mobile.jpg"
            alt="Women's blouse Crimea"
          />
        </div>
        <h3 class="text-model-vyshyvanka">Men's shirt Verkhovina</h3>
        <p class="price-vyshyvanka">3100 UAH</p>
      </li>
      <li class="list-item-collection">
        <div class="img-item">
          <img
            class="img-collection"
            srcset="
              ./img/collection/image-67-1280.jpg      347w,
              ./img/collection/image-67-1280-2x.jpg   748w,
              ./img/collection/image-67-tab.jpg       342w,
              ./img/collection/image-67-tab-2x.jpg    684w,
              ./img/collection/image-67-mobile.jpg    335w,
              ./img/collection/image-67-mobile-2x.jpg 670w
            "
            sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
            src="./img/collection/image-66-mobile.jpg"
            alt="Men's shirt Verkhovina"
          />
        </div>
        <h3 class="text-model-vyshyvanka">Mountain men's shirt</h3>
        <p class="price-vyshyvanka">3300 UAH</p>
      </li>
      <li class="list-item-collection">
        <div class="img-item">
          <img
            class="img-collection"
            srcset="
              ./img/collection/image-68-1280.jpg      347w,
              ./img/collection/image-68-1280-2x.jpg   748w,
              ./img/collection/image-68-tab.jpg       342w,
              ./img/collection/image-68-tab-2x.jpg    684w,
              ./img/collection/image-68-mobile.jpg    335w,
              ./img/collection/image-68-mobile-2x.jpg 670w
            "
            sizes="(min-width: 1280px) 347px, (min-width: 768px) 342px, (min-width: 320px) 335px"
            src="./img/collection/image-67-mobile.jpg"
            alt="Mountain men's shirt"
          />
        </div>
        <h3 class="text-model-vyshyvanka">Men's shirt Yasen</h3>
        <p class="price-vyshyvanka">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
