<!-- hero -->
<section class="hero">
  <div class="container hero-container">
    <div class="title-imge-hero">
    <div class="hero-top-container">
      <h1 class="title-hero">
        Reviving the traditional
        <span class="Ukrainian">Ukrainian</span> artistry in every stitch.
      </h1>
      
      <a href="#section-order" class="button-hero">
        Order

          <svg class="button-icon" width="26" height="10" aria-label="#vector">
            <use href="./icons/icons-sprite.svg#icon-arrow"></use>
          </svg>
        </a>
     
      </div>
      <div class="image-hero">
        <img
          srcset="
            /img/hero/girl-1280.jpg      392w,
            /img/hero/girl-1280-2x.jpg   784w,
            /img/hero/girl-tab.jpg       413w,
            /img/hero/girl-tab-2x.jpg    826w,
            /img/hero/girl-mobile.jpg    335w,
            /img/hero/girl-mobile-2x.jpg 670w
          "
          sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (min-width: 320px) 335px"
          src="/img/img/girl-1280.jpg"
          alt="girl"
        />
      </div> 
      </div>  
        <div class="container-star">
           <div class="block-star">
             <svg class="star-icon" width="52" height="51" aria-label="star">
             <use href="/icons/icons-sprite.svg#icon-star"></use>
             </svg>
              <div class="p-text">
                <p class="paragraf-star">all embroidery is made by hand</p>
              </div>
            </div>     
        <img class="elips-shapka" src="/img/hero/shapka.png" alt="shapka" />
        </div>
    </div>
  </div>
</section>
